{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Liburu guztiak bistaratu</h1>
    </div>
    <div class="container mt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Izenburua</th>
                    <th>Laburpena</th>
                    <th>Autorea</th>
                    <th>Ezabatu</th>
                    <th>Aldatu</th>
                </tr>
            </thead>
            <tbody>
                {% for liburu in liburua %}
                <tr>
                    <td>{{ liburu.id }}</td>
                    <td>{{ liburu.izenburua }}</td>
                    <td>{{ liburu.laburpena }}</td>
                    <td>{{ liburu.autorea.izena }}</td>
                    <td><a href="/ezabatu_liburua/{{ liburu.id }}" class="btn btn-danger">Ezabatu</a></td>
                    <td><a href="/aldatu/{{ liburu.id }}" class="btn btn-warning">Aldatu</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container mt-3">
        <a href='/add' class="btn btn-primary">Gehitu Liburua</a>
        <a href='/add_autore' class="btn btn-success">Gehitu Autorea</a>
    </div>
{% endblock content %}