{% extends 'base.html' %}
{% block content %}

    <center><h1 >Liburu guztiak bistaratu</h1></center>

    <table border="1">
<tr>
        <th>ID</th>
        <th>Izenburua</th>
        <th>Laburpena</th>
        <th>Autorea</th>
        <th>Ezabatu</th>
        <th>Aldatu</th>
    </tr>
    {% for liburu in liburua %}

    <tr>
    <div>
      <td>  <p>{{liburu.id}}</p></td>
      <td><p><h2>{{liburu.izenburua}}</h2></p></td>
         <td><p><h2>{{liburu.laburpena}}</h2></p></td>
        <td><p><h2>{{liburu.autorea.izena}}</h2></p></td>


       <td> <a href="/ezabatu_liburua/{{liburu.id}}/" color="red">Ezabatu</a></td>
        <td> <a href="/aldatu/{{liburu.id}}/" color="red">Aldatu</a></td>
    </div>
        </tr>
    {% endfor %}
    </table>
    <a href='/add'>Gehitu Liburua</a>
    <br>
    <a href='/add_autore'>Gehitu Autorea</a>

{% endblock content %}